* {

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;

}


.container{

    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2px;
    height: 100vh;

}

header{

    grid-column: 1/5;
    grid-row: 1/3;
    background-color: lightgreen;
    border-radius: 10px;
    border: 2px solid black;

}

nav{

    grid-column: 1/5;
    grid-row: 3/4;
    background-color: lightgreen;
    border-radius: 10px;
    border: 2px solid black;

}

footer{

    grid-column: 1/5;
    grid-row: 18/19;
    background-color: lightgreen;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;

}

h1{

    text-align: center;

}

h2{

    padding: 10px;

}

h3{

    padding: 10px;

}

p{

    padding: 10px;

}

article{

    background-color: #70FA9D;
    border-radius: 10px;
    border: 2px solid black;

}

aside{

    background-color: #67FACC;
    border-radius: 10px;
    border: 2px solid black;

}

header img{

    position: relative;
    top: -50px;
    left: 880px;

}

a{

    text-decoration: none;
    padding: 10px;
    border: 2px;
    margin: 2px;

}

.preview{

    grid-column: 3/5;
    grid-row: 4/18;
        
}

.about{

    grid-column: 1/3;
    grid-row: 4/18;

}

@media screen and (max-width: 800px){


    .container{

        
        grid-template-rows: repeat(36, 1fr);
        grid-template-columns: repeat(4, 1fr);
        height: 200vh;

    }

    .preview{

        grid-column: 1/5;
        grid-row: 18/34;

    }

    .about{

        grid-column: 1/5;
        grid-row: 4/18;

    }

    footer{

        grid-row: 34/36;

    }


}